{% extends "base.html" %}

{% block content %}
<section class="intro">
    <h1>Contact</h1>
</section>

<section class="contact-grid">
    <article class="contact-card">
        <img class="contact-headshot" src="{{ url_for('static', filename='img/heads/mk.jpg') }}" alt="MK head">
        <h3><a href="https://tu-dresden.de/ing/informatik/sya/netd/about/team/koch" target="_blank" rel="noopener">Maynard Koch</a></h3>
        <p>
            PhD Student and Research Associate, Chair of Distributed and Networked Systems at TU Dresden.
        </p>
    </article>

    <article class="contact-card">
        <img class="contact-headshot" src="{{ url_for('static', filename='img/heads/mw.jpg') }}" alt="MW head">
        <h3><a href="https://tu-dresden.de/ing/informatik/sya/netd/about/waehlisch" target="_blank" rel="noopener">Matthias Wählisch</a></h3>
        <p>
            Professor, Chair of Distributed and Networked Systems at TU Dresden.
        </p>
    </article>

    <article class="contact-card">
        <img class="contact-headshot" src="{{ url_for('static', filename='img/heads/tcs.jpg') }}" alt="TS head">
        <h3><a href="https://inet.haw-hamburg.de/members/schmidt" target="_blank" rel="noopener">Thomas C. Schmidt</a></h3>
        <p>
            Professor, Department of Computer Science at Hamburg University of Applied Sciences.
        </p>
    </article>
</section>
{% endblock %}
